<h1><span data-i18n="skills.my_skills">Acerca de</span></h1>

<div>
    Desarrollador de software, he trabajado con lenguajes de programación como Java, C# y C++. Actualmente utilizo Ruby porque es un gran lenguaje, que convinado con un framework como Rails permite construir aplicaciones complejas a equipos pequeños o lobos solitarios. Conozco otros lenguajes como python, go, scala, groovy, elixir, pero no he tenido la oportunidad de trabajar en proyectos con estos (me gustaría!).
</div> <br/>
<div>
Software developer, I have worked with programming languages such as Java, C # and C ++. I currently use Ruby because it is a great language, which combined with a framework like Rails allows complex applications to be built by small teams or a lone wolf. I know other languages like python, go, scala, groovy, elixir, but I have not had the opportunity to work on projects with these (I would like to!).
</div>
