<footer class="site-footer">
  <div class="site-footer__inner">
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. Colombia.</p>

    <div class="site-footer__links">
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <a href="https://linkedin.com/in/{{ site.owner.linkedin }}" rel="noopener me">LinkedIn</a>
      <a href="https://github.com/{{ site.owner.github }}" rel="noopener me">GitHub</a>
      <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
      <a href="https://github.com/renyuanz/leonids/" rel="noopener">Theme: Leonids (MIT)</a>
    </div>
  </div>
</footer>
